{{ define "components/health.application.instance.tiny" }}
<div
{{ if .LiveReload }}
    hx-get="/htmx/health/application/instance?live_reload=true&size=tiny&id={{ .Id }}"
    hx-swap="outerHTML"
    hx-trigger="every 30s"
{{ end }}>
    {{ if .Healthy }}
    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
        Healthy
    </span>
    {{ else }}
    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
        Unhealthy
    </span>
    {{ end }}
</div>
{{ end }}