{{ define "components/health.application.definition.tiny" }}
<div class="inline-flex flex-col space-y-1"
{{ if .LiveReload }}
    hx-get="/htmx/health/application/definition?live_reload=true&size=tiny&id={{ .Id }}"
    hx-swap="outerHTML"
    hx-trigger="every 30s"
{{ end }}>
    {{ if eq .HealthyCount .TotalCount }}<!-- Healthy -->
        <span class="px-2 text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
            Healthy ({{ .HealthyCount }}/{{ .TotalCount }})
        </span>
        {{ if gt .MaintenanceCount 0 }}<!-- Healthy, but at least one maintenance -->
        <span class="px-2 text-xs leading-5 font-semibold rounded-full bg-orange-100 text-orange-800" title="In maintenance">
            Maintenance: {{ .MaintenanceCount }}
        </span>
        {{ end }}
    {{ else if gt .HealthyCount 0 }}<!-- Degraded -->
        <span class="px-2 text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
            Degraded ({{ .HealthyCount }}/{{ .TotalCount }})
        </span>
        {{ if gt .MaintenanceCount 0 }}
        <span class="px-2 text-xs leading-5 font-semibold rounded-full bg-orange-100 text-orange-800" title="In maintenance">
            Maintenance: {{ .MaintenanceCount }}
        </span>
        {{ end }}
    {{ else }}<!-- Unhealthy -->
        <span class="px-2 text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
            Unhealthy ({{ .HealthyCount }}/{{ .TotalCount }}){{ if gt .MaintenanceCount 0 }}, {{ .MaintenanceCount }} in Maintenance{{ end }}
        </span>
        {{ if gt .MaintenanceCount 0 }}<!-- Unhealthy, at least one maintenance -->
        <span class="px-2 text-xs leading-5 font-semibold rounded-full bg-orange-100 text-orange-800" title="In maintenance">
            Maintenance: {{ .MaintenanceCount }}
        </span>
        {{ end }}
    {{ end }}
</div>
{{ end }}