{{ define "pages/application/instance/details" }}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/tailwindcss.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/htmx.js"></script>
    <script src="/static/htmx-extensions.js"></script>
</head>

<body class="bg-gray-50">
    {{ template "template/components/error-notification" . }}
    {{ template "templates/navbar" }}

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-3xl font-bold text-gray-900">{{ .Instance.Name }}</h1>
            <div class="flex space-x-3">
                <button hx-delete="/api/rest/v1/applications/{{ $.Application.Id }}/instances/{{ .Id }}"
                    hx-confirm="Are you sure you want to remove this instance?" hx-target="closest tr"
                    hx-swap="outerHTML swap:1s"
                    hx-on::after-request="if(!event.detail.successful) showErrorMessage(event.detail.xhr.responseText)"
                    class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                    Delete
                </button>
            </div>
        </div>

        <!-- Application Instance Information Card -->
        <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-6">
            <div class="px-4 py-5 sm:px-6 bg-indigo-50">
                <h2 class="text-lg leading-6 font-medium text-gray-900">Application Instance Information</h2>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">Details about the application instance.</p>
            </div>
            <div class="border-t border-gray-200 px-4 py-5 sm:p-6">
                <dl class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-2 lg:grid-cols-3">
                    <div class="sm:col-span-1">
                        <dt class="text-sm font-medium text-gray-500">Instance ID</dt>
                        <dd class="mt-1 text-sm text-gray-900">{{ .Instance.Id }}</dd>
                    </div>
                </dl>
            </div>
        </div>
        <!-- Health Check Status -->
        <div hx-get="/htmx/health/application/instance?live_reload=true&size=large&id={{ .Instance.Id }}"
            hx-swap="outerHTML" hx-trigger="load" class="bg-white shadow overflow-hidden sm:rounded-lg mb-6">
            Loading...
        </div>
        <!-- Health Check History -->
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6 bg-indigo-50 flex justify-between items-center">
                <div>
                    <h2 class="text-lg leading-6 font-medium text-gray-900">Health Check History</h2>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">Recent health check results.
                    </p>
                </div>
                <div>
                    <div class="mt-1 block w-full pl-3 pr-10 py-2 text-base text-gray-500 sm:text-sm rounded-md">
                        {{ len .HealthcheckResults }} Results
                    </div>
                </div>
            </div>
                <div class="px-4 py-5 sm:p-6 flex flex-row border-t border-gray-200">
                    <!-- Timeline -->
                    <div class="w-1/8 max-h-64 overflow-y-auto inline-flex flex-col place-items-start justify-between mr-2" id="timeline">
                        {{ $selected := index .HealthcheckResults 0 }}
                        {{ range $i, $result := .HealthcheckResults }}
                        <button class="relative z-10 flex flex-row items-center group focus:bg-indigo-200 focus:ring-2 focus:ring-indigo-400 pl-1 py-1 mx-2 pr-2"
                            data-index="{{ $i }}"
                            hx-get="/htmx/health/healthcheck/result?id={{ $result.Id }}&size=large"
                            hx-target="#healthcheckDetails" hx-swap="innerHTML">
                            <span
                                class="block w-4 h-4 rounded-full border-2 {{ if $result.IsSuccessful }}border-green-500 bg-green-100{{ else }}border-red-500 bg-red-100{{ end }} group-focus:ring-2 group-focus:ring-indigo-400"></span>
                            <span class="pl-4 relative text-xs text-gray-500 whitespace-nowrap">
                                {{ formatTime $result.TimeEnd }}
                            </span>
                        </button>
                        {{ if lt $i (sub1 (len $.HealthcheckResults)) }}
                        <span class="flex-1 h-1 bg-gray-300"></span>
                        {{ end }}
                        {{ end }}
                    </div>
                    <div class="inline-block min-h-full w-0.5 self-stretch bg-gray-300 mr-2"></div>
                    <!-- Details Panel -->
                    <div id="healthcheckDetails" class="w-7/8">
                        <div class="w-full mx-auto px-auto px-4 py-2">
                            Please select a record to view the details.
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>

</html>
{{ end }}