{{ define "pages/dashboard" }}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/tailwindcss.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/htmx.js"></script>
    <script src="/static/htmx-extensions.js"></script>
</head>

<body class="bg-gray-50">
    {{ template "template/components/error-notification" . }}
    {{ template "templates/navbar" }}

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
        {{ range .Results }}
        <div class="m-1">
            <div hx-get="/htmx/health/application/instance?size=medium&id={{ .ApplicationInstanceID }}"
                hx-swap="outerHTML" hx-trigger="load"
                hx-on::after-request="if(!event.detail.successful) showErrorMessage(event.detail.xhr.responseText)">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">
                    Loading...
                </span>
            </div>
        </div>
        {{ end }}
    </div>

</body>

</html>
{{ end }}