{{ define "pages/nodes" }}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/tailwindcss.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/htmx.js"></script>
</head>

<body>
    {{ template "templates/navbar" }}
    <h1 class="text-3xl font-bold underline"> Nodes </h1>
    <div class="grid grid-flow-col gap-1">
        {{ range .Selectors }}
        <div hx-get="/htmx/nodes/{{ .ID }}" hx-swap="outerHTML" hx-trigger="load" class="mx-auto flex max-w-sm items-center gap-x-4 rounded-xl bg-white p-2 shadow-lg outline outline-black/5">
            <img class="size-12 shrink-0" src="/static/logo.svg" alt="Node logo" />
            <div>
                <h2 class="text-xl font-medium text-black">Node {{ .ID }}</h2>
                <p class="text-gray-500"> {{ .Type }} </p>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="grid grid-flow-col gap-1">
        {{ range .Nodes }}
        <div hx-get="/htmx/nodes/{{ .ID }}" hx-swap="outerHTML" hx-trigger="load" class="mx-auto flex max-w-sm items-center gap-x-4 rounded-xl bg-white p-2 shadow-lg outline outline-black/5">
            <img class="size-12 shrink-0" src="/static/logo.svg" alt="Node logo" />
            <div>
                <h2 class="text-xl font-medium text-black">Node {{ .ID }}</h2>
                <p class="text-gray-500"> {{ .Type }} </p>
            </div>
        </div>
        {{ end }}
    </div>
    
</body>

</html>
{{ end }}