{{ define "pages/nodes" }}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/tailwindcss.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/htmx.js"></script>
</head>

<body>
    {{ template "templates/navbar" }}
    <h1 class="text-3xl font-bold underline">Items</h1>
    <div class="flex flex-column">
        {{ range .ItemTypes}}
        <div class="flex-auto">{{ .Name }}</div>
        {{ end }}
    </div>
</body>

</html>
{{ end }}