postgres:
  dsn: "postgres://postgres:heslo123@localhost:5432/postgres?application_name=nam&sslmode=disable"

logging:
  level: info # debug, info, error
  filepath: "application.log" # Path to log file
  maxsize: 10 # Maximum size in megabytes of the log file
  maxbackups: 5 # Maximum number of old log files to retain
  maxage: 30 # Maximum number of days to retain old log files
  compress: true # Whether to compress old log files or not

webserver:
  enabled: true
  mode: debug # debug, release, test
  address: "0.0.0.0:8080"
  tls:
    enabled: false
    certpath: "cert.pem" # Server certificate
    keypath: "key.pem" # Server key

keys: # used for calling healthchecks
  cacerts: ""
  clientcert: ""
  clientkey: ""

services:
  HealthcheckService: true # Whether to enable calling health checks or not on this instance